.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 0;
  background-color: white;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;
}

.top-header__img {
  width: 40%;
  margin-left: 40px;
}

.top-header__img:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.top-header-nav {
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;

}

.header-nav__list-link {
  display: inline-block;
  margin-right: 30px;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .top-header-nav {
      display: none;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    right: 20px;
    z-index: 30;
  }

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
  z-index: 10;
}
}

.nav-drawer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: white;
  transition: .7s;
  text-align: center;
}

.nav-drawer ul {
  padding-top: 80px;
}

.nav-drawer ul li {
  list-style-type: none;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: gray;
  transition: 0.4s;
}

main {
  width: 100vw;
}

footer a{
  color: white;
}

footer.flex__item {
  background-color: rgba(0, 0, 0, 0.85);
  margin: 0;
  width: 100vw;
}

.top-footer__img-link {
  font-size: 10px;
  margin-left: 20px;
}

.footer-nav__list-link {
  display: inline-block;
  border-left: solid 2px white;
  padding: 0 10px;
}

.footer-nav__list-link:first-of-type {
  border-left: solid 0;
}

.top-footer-nav {
  font-size: 10px;
  margin: 20px;
}

@media screen and (max-width: 768px) {

  .footer-nav__list-link {
      display: block;
      border-left: solid 0px;
      font-size: 15px;
  }
}
